{% assign crumbs = page.url | remove:'/index.html' | split:'/' %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {% for crumb in crumbs offset:1 %}
        {% if forloop.last %}
            <li class="breadcrumb-item active">{{ page.title }}</li>
        {% else %}
            {% assign crumb_limit = forloop.index | plus: 1 %}
            {% capture crumburl %}{% for bcrumb in crumbs limit: crumb_limit %}{{ bcrumb | append:'/' }}{% endfor %}{% endcapture %}
            {% for spage in site.pages %}
                {% if spage.url == crumburl %}
                    <li class="breadcrumb-item"><a href="">{{ spage.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ol>
    
