<div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mainNav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="navbar-brand dropdown-toggle" id="brand-{{ layout.title | slugify }}" href="#" data-toggle="dropdown">{{ layout.title }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="projects" role="menu">
                                <li class="dropdown-header">GetSimple CMS Plugins</li>
                                <li><a href="/gs-blog/"><i class="fa fa-fw fa-newspaper-o"></i> GetSimple Blog</a></li>
                                <li><a href="/gs-users/"><i class="fa fa-fw fa-user-circle-o"></i> User Management</a></li>
                                <li class="dropdown-header">macOS Applications</li>
                                <li><a href="/osx-bing-wallpaper/"><i class="fa fa-fw fa-picture-o"></i> Bing Wallpaper Changer</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <nav class="collapse navbar-collapse" id="mainNav">
                    <ul class="nav navbar-nav">
                        <li{% if page.url == '/' %} class="active"{% endif %}><a href="/{{ layout.layoutid }}/">Home</a></li>
                        <li{% if page.url contains 'documentation' %} class="active"{% endif %}><a href="/{{ layout.layoutid }}/documentation/">Documentation</a></li>
                        <li{% if page.url contains 'changelog' %} class="active"{% endif %}><a href="/{{ layout.layoutid }}/changelog.html">Changelog</a></li>
                        <li{% if page.url contains 'the-team' %} class="active"{% endif %}><a href="/{{ layout.layoutid }}/the-team.html">The Team</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://www.github.com/johnstray/{{ layout.layoutid }}/"><i class="fa fa-fw fa-15x fa-github"></i> GitHub<span class="hidden-sm"> Project</span></a></li>
                    </ul>
                </nav>
