        <div class="document-header{% if page.lang %} lang-{{ page.lang }}{% endif %}">
            <div class="container">
                <div class="row equal">
                    <div class="col-sm-8">
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.description }}</p>
                    </div>
                    <div class="col-sm-4 hidden-xs">
                        {% if page.slider1 %}
                        <div class="slider">
                            {% if page.slider1 %}<img src="{{ page.slider1 | relative_url}}" alt="" />{% endif %}
                            {% if page.slider2 %}<img src="{{ page.slider2 | relative_url}}" alt="" />{% endif %}
                            {% if page.slider3 %}<img src="{{ page.slider3 | relative_url}}" alt="" />{% endif %}
                            {% if page.slider4 %}<img src="{{ page.slider4 | relative_url}}" alt="" />{% endif %}
                            {% if page.slider5 %}<img src="{{ page.slider5 | relative_url}}" alt="" />{% endif %}
                        </div>
                        <script>window.onload = function(){$('.slider img:gt(0)').hide();setInterval(function(){$('.slider :first-child').fadeOut().next('img').fadeIn().end().appendTo('.slider');},3000);};</script>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
