---
title: page.title
---
{% include head.html %}
    <body id="{{ page.title | slugify }}">
        
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                {% include header.html %}
            </div>
        </header>
        
        {% include jumbotron.html %}
        
        <div class="banner hidden-print">
            <div class="container">
                This is some text
            </div>
        </div>
        
        <main class="container">
            <div class="row">
                
                <article id="main-content" class="col-md-12">
                    <div class="content" style="padding-top:40px;">
                        {{ content }}
                    </div>
                </article>
                
            </div>
        </main>
        
        <footer>
            <div class="container">
                {% include footer.html %}
            </div>
        </footer>
        
        <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </body>
</html>
