---
layoutid: gs-blog
title: GetSimple Blog
---
<!DOCTYPE html><!-- HTML5 : XHTML Compatible -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        
        <title>{{ page.title }} &raquo; {{ layout.title }}</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ "/assets/styles/layout.css" | relative_url}}" />
    </head>
    <body id="{{ page.title | slugify }}">
        
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                {% include header.html %}
            </div>
        </header>
        
        <div class="document-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.description }}</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="slider" style="height:200px;">
                            Images
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="banner hidden-print">
            <div class="container">
                This is some text
            </div>
        </div>
        
        <main class="container">
            <div class="row">
                
                <article id="main-content" class="col-md-12">
                    <div class="content">
                        {{ content }}
                    </div>
                </article>
                
            </div>
        </main>
        
        <footer>
            <div class="container">
                {% include footer.html %}
            </div>
        </footer>
        
        <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </body>
</html>
