---
title: The Team
project: GetSimple Blog
projectid: gs-blog
lang: getsimple

layout: wide
---

<ul class="row list-unstyled" vocab="http://schema.org/" typeof="CreativeWork">
    {% include team.html title="Project Leader" name="John Stray" ghid="7572507" ghun="johnstray" website="https://www.johnstray.id.au" %}
    {% include team.html title="Norwegian Translator" name="Hessevik Liseth" ghid="1089652" ghun="helgesverre" website="https://helgesverre.com/" %}
    {% include team.html title="Italian Translator" name="Nicola Laviola" ghid="7658768" ghun="nikynik" website="http://nikynik.altervista.org/" %}
    {% include team.html title="French Translator" name="Tanguy Jacquet" ghid="595633" ghun="jeckyl" website="http://www.mediacom87.fr/" %}
    {% include team.html title="French Translator" name="madvic" ghid="3822529" ghun="madvik" website="http://madvic.net/" %}
    {% include team.html title="German Translator" name="Nico Hemkes" ghid="15839724" ghun="turbopixel" website="http://www.hemk.es" %}
    {% include team.html title="Russian Translator" name="Feodor Rusanov" ghid="16781326" ghun="f30d0r" website="https://feodor.me/" %}
    {% include team.html title="Spanish Translator" name="Jesús David" ghid="5833446" ghun="jEsuSdA" website="https://www.jesusda.com/" %}
    {% include team.html title="Polish Translator" name="Every0ne" ghid="41306381" ghun="Every0ne" %}
    {% include team.html title="Spanish Translator" name="ferchosj" ghid="8679551" ghun="ferchosj" %}
    {% include team.html title="German Translator" name="gschintgen" ghid="11065156" ghun="gschintgen" %}
</ul>
                
